<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <title>コード一覧 - コード表ジェネレーター</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,700"/>
    <link rel="stylesheet" href="/portfolio/backbone-chordgenerator/css/styles.css"/>
  </head>
  <body>
    <div id="pagetop" class="wrap">
      <div id="slidemenu-main">
        <div class="contents-container">
          <div class="contents">
            <div class="main-content">
              <div class="main-content-inner">
                <section class="bg_title_chord">

                  <div class="box-main">

                    <!-- コード進行表示 -->
                    <p id="b_chord-progression" class="show-chord"></p>
                    <!-- /コード進行表示 -->

                    <!-- <div id="b_chord-list"></div> -->

                    <ul id="b_chord-list">
                    </ul>

                    <div id="b_btn-wrap" class="btn-wrap-center"><span class="b_add-chord btn chord-save">追加</span>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- chord-list -->
    <script type="text/template" id="chord-list-tmpl">
        <div class="controll-wrap">
          <div class="selectbox-wrap">
            <select class="b_select-root">
             <option value="0">C</option><option value="1">C#</option><option value="2">D</option><option value="3">E♭</option><option value="4">E</option><option value="5">F</option><option value="6">F#</option><option value="7">G</option><option value="8">G#</option><option value="9">A</option><option value="10">B♭</option><option value="11">B</option>
            </select>
            <div class="arrow"></div>
          </div>
          <div class="selectbox-wrap">
            <select class="b_select-type">
             <option value="0">M</option><option value="1">M7</option><option value="2">7</option><option value="3">6</option><option value="4">aug</option><option value="5">m</option><option value="6">mM7</option><option value="7">m7</option><option value="8">m6</option><option value="9">m7(♭5)</option><option value="10">add9</option><option value="11">sus4</option><option value="12">7sus4</option><option value="13">7(♭9)</option><option value="14">7(9)</option><option value="15">7(#9)</option><option value="16">dim7</option>
            </select>
            <div class="arrow"></div>
          </div>
          <div class="b_remove-cord remove-cord disnone"></div>
        </div>
        <p class="b_cord-pronunciation cord-pronunciation">
          <%= root.pronunciation %>・<%= type.pronunciation %>
        </p>
        <div class="b_chord-canvas chord-canvas"></div>
    </script>

    <!-- build:js /js/scripts.min.js-->
    <script src="/portfolio/backbone-chordgenerator/js/lib/jquery.js"></script>
    <script src="/portfolio/backbone-chordgenerator/js/ie.js"></script>
    <script src="/portfolio/backbone-chordgenerator/js/scripts.js"></script>
    <!-- endbuild-->
    <!-- build:js /js/chordgenerator/apps.min.js-->
    <script src="/portfolio/backbone-chordgenerator/js/lib/underscore-min.js"></script>
    <script src="/portfolio/backbone-chordgenerator/js/lib/backbone-min.js"></script>
    <script src="/portfolio/backbone-chordgenerator/js/chord-generator/conf.js"></script>
    <script src="/portfolio/backbone-chordgenerator/js/chord-generator/util.js"></script>
    <script src="/portfolio/backbone-chordgenerator/js/chord-generator/app.js"></script>
    <!-- endbuild-->
    
  </body>
</html>