

html {
	font-size: 62.5%;
}

body {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background: $header-base-color;
	color: $base-font-color;
	// font-family: "YuGothic", "Yu Gothic", "游ゴシック", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
	font-size: $base-font-size-pc;
	position: relative;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: $base-font-color;
}

a.hover,
span.hover {
	@include transition(opacity 0.2s);
	&:hover {
		opacity: .7;
	}
}

input[type="button"],input[type="submit"] {
	-webkit-appearance: none;
}

.view,
.pickup,
.show-chord,
.chord-canvas span,
.modal-content .list-main,
.item-summary,
.ranking-wrap,
.total-posts-num,
.jp-timer,
.post-area .sub-wrap-box ol li:before,
.post-area .score.key dt,
.copyright {
	@extend %gf;
}

.image-replace {
	text-indent: 100%;
	display: block;
	overflow: hidden;
	white-space: pre;
	text-decoration: none;
}

.disnone {
	display: none !important;
}

.btn {
	@include btn-color(#488FA7);
	@include border-radius(5px);
	color: #fff;
	font-size: 18px;
	position: relative;
	display: inline-block;
	top: -2px;
	padding: 12px 40px;
	text-align: center;
	margin-top: 15px;
	cursor: pointer;
	border: 0;
	line-height: 1;
	width: 100%;
	&.buy {
		@include btn-color(#FF8069);
	}
	&.chord-save {
		@include btn-color(#FFC25C);
	}
	&.sub {
		width: 100%;
	    background-color: #bebebe;
	    @include box-shadow(0 4px #aaa);
		color: #fff;
		font-size: 14px;
		margin-top: 0;
		@include border-radius(0 0 5px 5px);
	}
}

.text-center {
	text-align: center;
}
// sp >=
@media (max-width: $screen-xs-max) {
	.box-margin>.text-center-sp:first-child img {
		margin-top: 0;
	}
	.text-center-sp {
		text-align: center;
	}
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.wrap {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: $header-base-color;
}

a.color {
	color: #9CA7DA;
}

// sp >=
@media (max-width: $screen-xs-max) {
	.disnone-sp {
		display: none !important;
	}
}

.btn-head {
	span:after {
		@extend %fa;
	}
	position: relative;
	.icon-chords {
		position: relative;
		top: 0;
		right: 0;
		font-size: 28px;
		padding-right: 15px;
		color: #6a6a6a;
		cursor: pointer;
		&:hover {
			color: #848484;
		}
		&:after {
			content: $icon-file;
		}
	}
	.icon-notice {
		font-size: 11px;
		background: #d52222;
		padding: 1px 4px;
		position: absolute;
		top: -5px;
		right: 9px;
		margin: 0;
		color: #D7D9D3;
		@include border-radius(6px);
		@include box-shadow(0 0 1px 1px rgba(0,0,0,.1));
	}
}


.contents-container {
	width: 100%;
	background: $contents-base-color;
}

.main-btn {
	text-align: center;
	@include display-table(middle, fixed);
	margin: 0 auto;
	width: 300px;
	li {
		width: 33.33%;
	}
	// sp >=
	@media (max-width: $screen-xs-max) {
		a {
			padding: 15px 0;
			font-size: 16px;
			margin-top: 10px;
		}
	}
	a {
		width: 100%;
		border-left: 1px solid #397083;
		@include border-radius(0);
	}
	.first {
		@include border-radius(5px 0 0 5px);
		border: none;
	}
	.last {
		@include border-radius(0 5px 5px 0);
	}
}


.contents {
	width: 100%;
}

.top-area {
	text-align: center;
	padding: 20px 0;
}

.main-content {
	padding: 50px;
	section,aside {
		padding-bottom: 10px;
		position: relative;
	}
}

.main-content-inner {
	background: #fff;
	border-bottom: 5px solid #d3d3d3;
}

.box-main {
	padding: 20px 20px 0;
}

.list-main {
	margin: 0 $side-margin;
	border-bottom: 1px solid $base-line-color;
	li {
		line-height: $common-line-height;
		position: relative;
		border-top: 1px solid $base-line-color;
	}
	a {
		display: block;
		padding: 13px 2px 15px;
	}
}
.list-status {
	color: $icon-bg-color;
	margin-left: 2px;
	.view {
		font-size: $base-font-size - 3px;
		&+i:before {
			content: '/';
			margin-left: 5px;
		}
		.count {
			font-weight: 700;
			color: #dcaaaa;
		}
		&:after {
			content: ' view';
		}
	}
	i {
		font-size: $base-font-size - 3px;
	}
	i:after {
		@extend %fa;
		margin-left: 5px;
	}
	.icon-star:after {
		content: $icon-star;
	}
	.icon-volume:after {
		content: $icon-volume;
	}
	.icon-lightbulb:after {
		content: $icon-lightbulb;
	}
}

.sub-wrap-box {
	border: 1px solid #ddd;
	padding: 10px 12px;
	&.type-radius {
		@include border-radius();
		padding: 20px 12px 22px;
	}
	&.bg-color {
		color: #6a6a6a;
		background: #e7ecee;
		border: 1px solid #d2d9dd;
	}
	&.dotted {
		border-style: dotted;
		border-color: #ccc;
	}
	h2 {
		padding: 0;
		border: none !important;
		background: transparent;
		&+p {
			margin-top: 10px;
		}
	}
	.list-main {
		margin: 0;
	}
}

#modal-chords {
	p {
		margin-top: 0;
	}
}

// ********************
// modal
// ********************

.modal-shield {
	background: rgba(0, 0, 0, .5);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
.modal-close {
	position: absolute;
	top: 3px;
	right: 0;
	padding: 10px;
	cursor: pointer;
	color: #6a6a6a;
	&:before {
		@extend %fa;
		content: $icon-close;
		font-size: 30px;
	}
	&:hover {
		color: #aaa;
	}
}
.modal-content {
	position: relative;
	background: #fff;
	margin: 0 8px;
	padding: 20px 12px;
	max-width: $screen-sm-min;
	z-index: 1001;
	@include border-radius();
	@include box-shadow(0 0 3px 3px rgba(0,0,0,.1));
	@include transition(.4s);
	@include transform(scale(.2));
	opacity: 0;
	&.show-anim {
		@include transform(scale(1));
		opacity: 1;
	}
	.modal-title {
		line-height: 1;
		border-bottom: 3px solid $base-line-color;
		font-size: 18px;
		font-weight: bold;
		padding: 0 0 15px 2px;
	}
	.list-main {
		margin: 0;
		border-bottom: none;
		a {
			padding-right: 0;
			margin-right: 50px;
		}
	}
	.list-status {
		position: absolute;
		top: 9px;
		right: 5px;
	}
	.delete-cord-list {
		cursor: pointer;
		padding: 8px;
		top: 4px;
		right: 0px;
		&:before {
			@extend %fa;
			content: $icon-close;
			font-size: 14px;
			color: #ddd;
		}
	}
}

/*セレクトボックス*/
$selectbox-height: 36px;
$selectbox-background-color: #fff;
.controll-wrap {
	font-size: 0;
	position: relative;
	height: $selectbox-height;
}
.selectbox-wrap {
	height: $selectbox-height;
	background: $selectbox-background-color;
	border: 1px solid $base-line-color;
	display: inline-block;
	overflow: hidden;
	top: 0;
	left: 0;
	.arrow {
		&:after {
			@extend %fa;
		}
	}
	select {
		cursor: pointer;
		background: none;
		border: none;
		height: $selectbox-height;
		line-height: $selectbox-height;
		position: relative;
		z-index: 1;
		@include appearance(none);
		text-indent: .01px;
		text-overflow: "";
		outline: none;
		display: block;
		font-size: 16px;
		text-align: left;
	}
}
/*webkitに適用されるCSSハック*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.selectbox-wrap {
		min-width: 100px;
		position: absolute;
		.arrow {
			width: 30px;
			background: #fff;
			height: 28px;
			position: absolute;
			right: 0;
			top: -1px;
			z-index: 5;
			&:after {
				content: $icon-angle-down;
				color: #ddd;
				position: absolute;
				right: 8px;
				top: 6px;
				font-size: 25px;
			}
		}
		select {
			padding: 0 40px 0 12px;
		}
	}
}
 
/*Firefoxだけに適用されるCSSハック*/
@-moz-document url-prefix() {
	.selectbox-wrap {
		min-width: 100px;
		position: absolute;
		.arrow {
			width: 30px;
			background: #fff;
			height: 28px;
			position: absolute;
			right: 0;
			top: -1px;
			z-index: 5;
			&:after {
				content: $icon-angle-down;
				color: #ddd;
				position: absolute;
				right: 8px;
				top: 6px;
				font-size: 25px;
			}
		}
		select {
			padding: 0 40px 0 12px;
		}
	}
}


// ********************
// コードジェネレータ
// ********************
.summary-chord-generator {
	font-size: 19px;
	padding-bottom: 12px;
	line-height: 1.3;
	font-weight: bold;
	display: block;
}
.chord-loading {
	display: none;
	&[ng\:cloak],
	&[ng-cloak],
	&[data-ng-cloak],
	&[x-ng-cloak],
	&.ng-cloak,
	&.x-ng-cloak {
		display: block !important;
	}
}
.chord-list {
	@extend .sub-wrap-box;
	padding: 18px 25px;
	border-top: none;
	border-bottom: 1px solid $base-line-color;
	@include transition(.8s);
	opacity: 1;
	.selectbox-wrap+.selectbox-wrap {
		border-left: none;
		left: 100px;
	}
	&.ng-enter,
	&.ng-leave,
	&.ng-move {
		@include transition(opacity 0.15s);
	}
	&.ng-enter,
	&.ng-leave.ng-leave-active,
	&.ng-move, {
		opacity: 0;
	}
	&.ng-enter.ng-enter-active,
	&.ng-leave,
	&.ng-move.ng-move-active {
		opacity: 1;
	}
}
.show-chord {
	font-size: 28px;
	padding: 10px 25px;
	line-height: 1.2;
	background: #f5f5f5;
	border: 1px solid #ddd;
	border-bottom: none;
	@include clearfix();
	@include border-radius(5px 5px 0 0);
}
.remove-cord {
	width: $selectbox-height;
	height: $selectbox-height;
	cursor: pointer;
	border: 1px solid $base-line-color;
	@include border-radius($selectbox-height/2);
	display: inline-block;
	position: relative;
	float: right;
	&:before {
		@extend %fa;
		content: $icon-close;
		position: absolute;
		top: 6px;
		left: 9px;
		font-size: 21px;
		color: #ddd;
	}
}
.cord-pronunciation {
	margin: 5px 0 8px;
	font-size: 12px;
	color: $icon-bg-color;
}
.btn-wrap-center {
	text-align: center;
	margin-bottom: 30px;
	position: relative;
}
.save-msg {
	position: absolute !important;
	top: -50px;
	left: 0;
	width: 100%;
	@include transition(.8s);
	opacity: 0;
	&.msg-show {
		opacity: 1;
	}
	span {
		width: 300px;
		display: block;
		margin: 0 auto;
		background: rgba(0,0,0,.6);
		@include border-radius();
		@include box-shadow(0 0 2px 2px rgba(0,0,0,.1));
		padding: 16px 0;
		color: #fff;
		font-size: 13px;
		line-height: 1.5;
	}
}
.icon-chord {
	padding: 0 3px 0 5px;
	&:before {
		@extend %fa;
		content: $icon-file;
	}
}



// ********************
// canvas
// ********************
.chord-canvas {
	@include clearfix();
	div {
		float: left;
		padding: 0 15px 15px 0;
		padding-right: 20px;
	}
	canvas {
		width: 160px;
		height: 110px;
		display: block;
	}
	span {
		display: inline-block;
		font-size: 12px;
		margin-left: 42px;
		margin-top: 5px;
		width: 90px;
		height: 22px;
		line-height: 22px;
		@include border-radius(11px);
		color: #fff;
		text-align: center;
		background: #9C9C96;
	}
}




// ********************
// loading
// ********************
.loader-wrap {
	padding: 30px 0;
}
.loader {
  margin: 6em auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid #efefef;
  border-right: 1.1em solid #efefef;
  border-bottom: 1.1em solid #efefef;
  border-left: 1.1em solid #ddd;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


