
// tablet <
@media (min-width: $screen-sm-min) {

body {
	font-size: $base-font-size-pc;
}

a.hover,
span.hover {
	@include transition(opacity 0.2s);
	&:hover {
		opacity: .7;
	}
}

.disnone-pc {
	display: none !important;
}

.display-table-top {
	@include display-table(top, auto);
	>div+div {
		padding-left: $box-margin-pc;
	}
	>div *:first-child {
		margin-top: 0;
	}
}

.btn {
	width: auto;
}

.btn-head {
	float: left;
	padding: 3px 8px 0 0;
	.icon-info,
	.icon-chords {
		position: relative;
		top: 0;
		right: 0;
		font-size: 28px;
		padding-right: 15px;
		color: #6a6a6a;
		cursor: pointer;
		&:hover {
			color: #848484;
		}
	}
	.icon-notice {
		font-size: 11px;
		padding: 1px 4px;
		position: absolute;
		top: -5px;
		right: 9px;
		color: #D7D9D3;
	}
}


.pickup-menu {
	a {
		@include transition(color 0.3s);
		&:hover {
			color: #fff;
		}
	}
}

.contents-container {
	padding-left: $header-width-pc;
}

.top-area {
	padding: 9px 20px 9px $box-margin-pc;
	@include clearfix;
	&>div {
		float: right;
		position: relative;
		background: $contents-base-color;
		padding-left: 18px;
	}
	.summary {
		margin-top: 12px;
		position: absolute;
		font-size: 12px;
	}
}

.main-btn {
	text-align: left;
	table-layout: auto;
	margin: 0 5px;
	width: auto;
	a {
		padding-left: 35px;
		padding-right: 35px;
		padding-top: 13px;
		padding-bottom: 13px;
	}
}
.top-menu {
	width: 100%;
	padding: 30px 20px;
	&>div {
		padding: 0 20px 30px;
	}
	.content-head-normal {
		margin: 0 0 5px;
		h1, h2 {
			font-size: 20px;
			margin-bottom: 12px;
			padding-left: 52px;
			line-height: 1.2;
			span {
				font-size: 13px;
			}
			&:before {
				top: 6px;
				font-size: 38px;
			}
		}
		p {
			padding: 12px 0 20px 2px;
			font-size: 13px;
		}
	}
}

.top-menu2 {
	width: 100%;
	padding: 0 40px;
	position: relative;
	&+.top-menu2 {
		padding-top: 25px;
	}
	&>section+section {
		margin-top: 25px;
	}
}

.box-list,
.box-main {
	margin: 0;
	margin-left: $box-margin-pc + 5px;
	margin-right: $box-margin-pc + 5px;
}

.main-content-inner {
	border: none;
	padding-bottom: 60px;
}

.box-list {
	h2 {
		font-size: 16px;
		padding: 19px 15px 16px;
		margin-top: 40px;
		border-bottom: 5px solid $base-line-color;
	}
	h2:first-child {
		margin-top: 0;
	}
}

.list-main {
	margin: 0;
	li {
		overflow: hidden;
	}
	a {
		padding: 21px 180px 23px 16px;
		line-height: 1.4;
	}
	a:hover {
		.title {
			color: #BA7A7A;
			text-decoration: underline;
		}
	}
}
.list-status {
	position: absolute;
	top: 19px;
	right: 5px;
	margin-top: 2px;
	.view {
		font-size: $base-font-size-pc - 2px;
		&+i:before {
			margin-left: 8px;
		}
	}
	i {
		font-size: $base-font-size-pc - 1px;
	}
	i:after {
		margin-left: 6px;
	}
}

.image-caption {
	padding: 10px 2px !important;
	.image {
		width: 110px;
		margin-right: 25px;
		img {
			max-width: 110px;
			max-height: 100px;
		}
	}
	.list-status {
		position: static !important;
	}
	.detail {
		margin-left: 135px;
	}
}
.item-summary {
	font-size: $base-font-size-pc - 2px;
}


.content-head-normal {
	margin: 0 $box-margin-pc;
	padding: 30px 0 30px;
	h1, h2 {
		font-size: 30px;
		margin-bottom: 14px;
		padding-left: 70px;
		line-height: 1.1;
		span {
			font-size: 15px;
		}
		&:before {
			top: 12px;
			font-size: 52px;
		}
	}
	.no-summary {
		padding-top: 25px;
		margin-bottom: 14px;
	}
	p {
		padding: 12px 0 20px 16px;
		line-height: 1.6;
		font-size: 15px;
	}
}

.archive-title-summary {
	font-size: 22px;
	padding: 14px 0 0 2px;
}

.title-cat {
	margin: 3px 0 0 2px;
	padding: 7px 15px;
	font-size: 15px;
}

.title-page {
	font-size: 33px;
	margin: 8px 0 10px;
	&.va-center {
		margin: 15px 0 0;
	}
}

.total-posts-num {
	margin-left: 10px;
	font-size: 14px;
	top: 12px;
}

.tag-area {
	&:before {
		vertical-align: 8%;
		margin-left: 6px;
	}
	&>span {
		padding-left: 10px;
		font-size: 13px;
		&:before {
			padding-right: 3px;
			font-size: 16px;
		}
	}
}

.post-area {
	font-size: $post-base-font-size-pc;
	h2 {
		padding-top: 15px;
		padding-bottom: 15px;
		font-size: 22px;
		margin-top: 62px;
	}
	h3 {
		margin-top: 45px;
		font-size: $post-base-font-size-pc + 4;
		padding-bottom: 12px;
	}
	table {
		font-size: $post-base-font-size-pc - 1;
		width: 100%;
	}
	th {
		padding: 14px 14px;
	}
	td {
		padding: 14px 14px;
	}
	.box-margin {
		margin-top: $paragraph-margin-pc;
	}
	.current-post:after {
		left: -13px;
	}
	p {
		margin-top: 25px;
	}
	.score {
		padding: 23px 25px 25px;
		&.key {
			padding-top: 35px;
			dt {
				padding: 2px 26px;
				font-size: 14px;
			}
		}
	}
}

.side-content  {
	padding: 20px;

}

.side-content,
.top-menu,
.top-menu2 {
	.list-main {
		font-size: $base-font-size-pc - 1px;
		a {
			padding: 14px 2px 15px;
		}
		li {
			margin: 0;
		}
	}
	.list-status {
		position: static;
	 	.view,
	 	i {
	 		font-size: $base-font-size-pc - 3px;
	 	}
	}
}

.side-content {
	.list-main {
		margin: 0 16px;
	}
}

.jtab-box h3 {
	padding: 17px 0 17px 18px;
	font-size: 16px;
}

.side-tab-area {
	&>span {
		height: 44px;
		span {
			font-size: 13px;
			z-index: 2;
 			position: relative;
			&:before {
				font-size: 20px;
				padding: 15px 0 29px;
			}
		}
	}
}


.sub-wrap-box {
	padding: 18px 25px;
	&.type-radius {
		@include border-radius();
		padding: 23px 25px 25px;
	}
	h2 {
		padding: 0;
		&+p {
			margin-top: 12px;
		}
	}
}

.relative-post-list {
	h3:first-child {
		font-size: 18px;
		margin: 6px 3px 22px;
		&:before {
			padding-right: 10px;
		}
	}
}

.archive {
	.post-top-ad {
		&+h2 {
			margin-top: 0;
		}
	}
	.post-bottom-ad,
	.post-relative-bottom-ad {
		margin-top: 40px !important;
	}
}

.swipe-scroll {
	text-align: center;
	img {
		width: auto;
		max-width: 100%;
	}
}

.dl-double {
	font-size: 14px;
	dd,dt {
		padding: 12px 15px 15px 20px;
	}
	dt {
		width: 30%;
	}
	dd {
		width: 70%;
	}
}

$breadcrumb-height: 46px;
.foot-breadcrumb {
	font-size: 14px;
	margin-bottom: 20px;
	li {
		&+li:before {
		    border: $breadcrumb-height/2 solid transparent;
		    border-color: #ddd;
		    border-left-color: transparent;
		}
		&+li:after {
		    border: $breadcrumb-height/2 solid #fff;
		    border-left-color: transparent;
		}
	}
	a,.post-title span {
		height: $breadcrumb-height;
		line-height: $breadcrumb-height;
		padding-left: 32px;
	}
	.home {
		width: 62px;
	}
	.category {
		width: 158px;
	}
}

.prev-next {
	margin: 20px auto;
	font-size: 14px;
	a {
		&:before {
			font-size: 12px;
			padding: 6px 0;
			margin-right: 8px;
			width: 80px;

		}
		&:hover {
			color: #BA7A7A;
			text-decoration: underline;
		}
	}
}

.box-wide {
	padding-left: 40px;
	padding-right: 40px;
}

.home-ad {
	padding-top: 20px;
	padding-bottom: 45px;
}

.ad-summary {
	font-size: 13px;
}

.ad-wrap {
	padding: 0 10px;
	border: 1px solid #eaeaea;
	@include border-radius();
}

.archive-summary {
	margin: 40px 0 0 !important;
}

.top-summary {
	padding-bottom: 45px;
	.post-area {
		padding: 23px 25px 50px;
		h2 {
			padding: 12px 0 0 0;
		}
		p {
			margin-top: 18px;
		}
	}
}



// ********************
// jplayer
// ********************
.jp-audio {
	margin: 20px auto 30px;
}
.jp-button {
	&:hover {
		color: #999;
	}
}
// jp-progress
.jp-progress {
	width: 130px;
}
// jp-volume-controls
.jp-volume-controls {
	display: table-cell;
	width: 30px;
	line-height: 1;
}
.jp-mute,
.jp-volume-max {
	text-align: left;
}
.jp-mute {
	display: block;
	&:after {
		content: $icon-volume;
	}
	&:focus {

	}
}
.jp-volume-max {
	display: none !important;
	&:after {
		content: $icon-volume-off;
	}
	&:focus {
		
	}
}
.jp-state-muted {
	.jp-mute {
		display: none;
	}
	.jp-volume-max {
		display: block !important;
	}
}



// ********************
// modal
// ********************
.modal-close {
	top: 10px;
	right: 15px;
}
.modal-content {
	margin: 0 auto;
	padding: 28px 25px;
	max-width: $screen-sm-min;
	.modal-title {
		border-bottom: 5px solid $base-line-color;
		font-size: 22px;
		padding: 0 0 15px 2px;
	}
	.list-main {
		a {
			padding-left: 2px;
			&:hover {
				color: #BA7A7A;
				text-decoration: underline;
			}
		}
	}
	.delete-cord-list {
		padding: 12px;
		top: 9px;
		right: 0;
		&:hover {
			&:before {
				color: #ccc;
			}
		}
	}
}


// ********************
// コードジェネレータ
// ********************
.summary-chord-generator {
	font-size: 19px;
	padding-bottom: 12px;
}
.show-chord {
	font-size: 28px;
	padding: 10px 25px;
}
.btn-wrap-center {
	.btn {
		margin-left: 6px;
		margin-right: 6px;
	}
}


// ********************
// ランキング
// ********************
.ranking-wrap {
	margin-left: 4px;
}
.update-time {
	font-size: 17px;
}
.ranking-summary {
	font-size: 14px;
	margin-top: 10px;
	margin-left: 4px;
}
.box-ranking-search {
	.selectbox-wrap {
		select {
			font-size: 16px;
		}
		&+.selectbox-wrap {
			border-left: none;
			left: 180px;
		}
	}
	.controll-wrap {
		margin-bottom: 15px;
	}
}
/*webkitに適用されるCSSハック*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.box-ranking-search .selectbox-wrap {
		width: 180px;
	}
}
 
/*Firefoxだけに適用されるCSSハック*/
@-moz-document url-prefix() {
	.box-ranking-search .selectbox-wrap {
		width: 180px;
	}
}
.chord-name {
	font-size: 28px;
}

.total-item-num {
	span {
		font-size: 18px;
	}
}
.order-wrap {
	li {
		font-size: 14px;
		padding: 8px 14px;
		cursor: pointer;
	}
}





// ********************
// search
// ********************
.search-list {
	a {
		padding-right: 2px;
		padding-bottom: 4px;
	}
	.list-status {
		position: static;
		font-size: 13px;
		padding-top: 0;
		margin-left: 17px;
		margin-bottom: 25px;
		line-height: 1.5;
	}
}




// ********************
// canvas
// ********************
.chord-canvas {
	div {
		padding-right: 20px;
	}
	canvas {
		width: 160px;
		height: 110px;
	}
	span {
		font-size: 12px;
		margin-left: 42px;
	}
}




// ********************
// contact
// ********************
.contact-form {
	td,th {
		padding: 0;
		float: left;
		clear: both;
		width: 100%;
	}
	tr+tr th {
		padding-top: 20px;
	}
	.form-text {
		padding: 12px;
	}
}


}



// desktop <
@media (min-width: $screen-md-min) {
	
.top-menu {
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 0;
	&>div {
		float: left;
		width: 33%;
		padding: 0 20px;
	}
}

.top-menu2 {
	padding: 0 20px;
	@include display-table(top, fiexd);
	border-top: 1px solid #ddd;
	&+.top-menu2 {
		border-bottom: 1px solid #ddd;
		padding-top: 0;
	}
	.sub-wrap-box {
		border: none;
	}
	&>section {
		width: 50%;
		&+section {
			border-left: 1px solid $base-line-color;
		}
	}
	&>section>div {
		margin: 0 20px 35px;
	}
}

.contents {
	position: relative;
}

.main-content {
	width: 100%;
	padding-right: $side-width-pc + 40px;
	position: relative;
}

.side-content {
	width: $side-width-pc + 40px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}

.side-tab-area {
	.bg {
		span {
			@include transition(transform, .3s);
			&:hover {
				@include translateY(-44px);
			}
		}
	}
}

.main-content-inner {
	min-height: 1400px;
}

.box-wide {
	padding-left: 60px;
	padding-right: 60px;
}
.top-summary {
	.post-area {
		padding-left: 60px;
		padding-right: 60px;
	}
}

ul.top-summary-btn {
	li {
		display: inline-block;
		+li {
			margin-left: 5px;
		}
	}
}

.share-btn {
	.line {
		display: none;
	}
}

}



// max width
@media (min-width: $screen-lg-min + $header-width-pc) {

.main-content section {
	width: 800px;
	margin: 0 auto;
}

.main-content-inner > section:first-child + .box-main {
	margin: auto;
	width: 730px;
}

.foot-breadcrumb + .archive-menu {
	width: auto;
}

.mainvis,
.top-menu,
.top-menu2,
.box-wide {
	width: 1200px;
	margin: 0 auto;
}
// .contents {
// 	width: $screen-lg-min;
// }

}