//== Media queries breakpoints
//

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px !default;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min !default;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;



//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:             (720px + $grid-gutter-width) !default;
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet !default;

// Medium screen / desktop
$container-desktop:            (940px + $grid-gutter-width) !default;
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      (1140px + $grid-gutter-width) !default;
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop !default;

//== font awesome
//
//## for use before or after.

%fa {
	display: inline-block;
	font-family: FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//== google font
//
%gf {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

$icon-home: '\f015 ';
$icon-star: '\f005 ';
$icon-volume: '\f028 ';
$icon-volume-off: '\f026 ';
$icon-file: '\f0f6 ';
$icon-search: '\f002 ';
$icon-angle-down: '\f107 ';
$icon-close: '\f00d ';
$icon-info: '\f05a ';
$icon-lightbulb: '\f0eb ';
$icon-folder: '\f115 ';
$icon-pagetop: '\f106 ';
$icon-play: '\f04b ';
$icon-pause: '\f04c ';
$icon-loading: '\f1ce ';
$icon-error: '\f00d ';
$icon-external: '\f08e ';
$icon-arrow: '\f105 ';
$icon-current-post: '\f0da ';
$icon-contact: '\f003 ';
$icon-heart: '\f08a ';
$icon-stop: '\f0c8 ';
$icon-twitter: '\f099 ';
$icon-facebook: '\f09a ';

$base-font-size: 14px;

$base-font-color: #4a4a4a;
$base-line-color: #eaeaea;
// left-sidemenu color
$header-base-color: #363630;
// left-border color
$header-border-color: #222;
// right-sidemenu color
$contents-base-color: #D7D9D3;
$side-base-color: #E7E8E2;
$icon-bg-color: #9f9f9f;

// category color
$bg_title_intro-color: #ED5B42;
$bg_title_chord-color: #F8AF36;
$bg_title_scale-color: #048485;
$bg_title_variety-color: #6CAD7E;
$bg_title_ranking-color: #9C5676;

$side-margin: 10px;

$path-img: '../img';

$common-line-height: 1.3;

$font-weight: bold;



//for postarea
$post-base-font-size: $base-font-size;
$box-margin: 30px;
$paragraph-margin: 18px;



// for pc
$base-font-size-pc: 15px;

$header-width-pc: 200px;
$side-width-pc: 300px;

$side-margin-pc: 20px;
$box-margin-pc: 30px;
$paragraph-margin-pc: 20px;

$post-base-font-size-pc: $base-font-size-pc;